aiohttp
altair
faiss-cpu
google-search-results
langchain
langchain-community
langchain-experimental
langchain-openai
numexpr
numpy
openai
pandas
pathlib
protobuf
pydantic
python-dateutil
python-dotenv
python-json-logger
pyyaml
requests
sqlalchemy
streamlit
tenacity
tiktoken
tqdm
typing-extensions
tzdata
openpyxl
st-weaviate-connection
weaviate
dspy
